// Основные стили документа
html,
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	height: 100vh;
	overflow-x: hidden;
	background: $white;
	color: $dark-brown;
	line-height: 140%;
}

@media (max-width: 1040px) {
	body {
		font-size: 14px;
	}
}

a{
	cursor: pointer;
}

h1{
	font-size: 50px;
	font-weight: 500;
	line-height: 120%;
	margin-bottom: 10px;
}

@media (max-width: 1040px){
	h1{
		font-size: 40px;
	}
}

@media (max-width: 768px){
	h1{
		font-size: 34px;
	}
}

@media (max-width: 600px){
	h1{
		font-size: 28px;
	}
}

h1,
h2 {
	font-family: "Forum", serif;
	color: $brown;
}

.header,
.promo{
	width: 100vw;
	display: flex;
	justify-content: center;
}

.header-container,
.promo__container{
	width: 100vw;
	padding: 0 14vw;
	display: flex;
	align-items: center;
	justify-content: center;
}