@media (max-width: 1440px) {
   .header-container,
   .promo__container,
   .about__container,
   .portfolio__container,
   .price__container,
   .advantages__container,
   .process__container,
   .faq-container,
   .feedback__container {
      padding: 0 8vw;
   }
}

@media (max-width: 1240px) {
   .header-container,
   .promo__container,
   .about__container,
   .portfolio__container,
   .price__container,
   .advantages__container,
   .process__container,
   .faq-container,
   .feedback__container {
      padding: 0 4vw;
   }
}

@media (max-width: 1070px) {
   .header__burger,
   .header__close {
      display: block;
   }
}

@media (max-width: 1070px) {
   .header__burger {
      order: 3;
   }
}

@media (max-width: 1240px) {
   .navigation__menu {
      max-width: 500px;
   }
}

@media (max-width: 1070px) {
   .navigation__menu {
      position: fixed;
      padding: 80px 50px 10px !important;
      gap: 22px;
      top: 0;
      left: 100vw;
      width: 50vw;
      height: 100vh;
      z-index: 2000;
      transition: left 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: $bege;
      .menu__item a {
         font-size: 22px;
         padding-left: 40px;
      }
   }
}

@media (max-width: 768px) {
   .navigation__menu {
      padding: 80px 50px 10px !important;
      gap: 22px;
      top: 0;
      left: 100vw;
      width: 100vw;
      .menu__item a {
         font-size: 20px;
         padding-left: 20px;
      }
   }
}

@media (max-width: 1070px) {
   .navigation__menu.show {
      transform: translateX(-50vw);
      transition: all 0.6s ease;
   }
}

@media (max-width: 768px) {
   .navigation__menu.show {
      transform: translateX(-100vw);
      transition: all 0.6s ease;
   }
}

@media (max-width: 1070px) {
   .header__contacts {
      order: 2;
   }
}

@media (max-width: 768px) {
   .header__contacts {
      flex-direction: column;
      gap: 10px;
   }
}

@media (max-width: 1040px) {
   .header__tel {
      font-size: 18px;
   }
}

@media (max-width: 1070px) {
   .header__logo {
      order: 1;
   }
}

@media (max-width: 1070px) {
   .menu__link {
      color: $white;
      :hover {
         color: $light-bege;
      }
   }
   .menu__link:hover {
      color: $light-bege;
   }
}
@media (max-width: 600px) {
   .header__contacts {
      display: none;
   }
}
@media (max-width: 1240px) {
   .header__social {
      gap: 10px;
   }
}

@media (max-width: 1440px) {
   .promo__utp {
      width: 506px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
}

@media (max-width: 1040px) {
   .promo__utp {
      width: 450px;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
}

@media (max-width: 768px) {
   .promo__utp {
      width: 400px;
      gap: 15px;
   }
}

@media (max-width: 600px) {
   .promo__utp {
      width: 100%;
      gap: 15px;
   }
}

@media (max-width: 1240px) {
   .promo__container {
      gap: 10%;
   }
}

@media (max-width: 768px) {
   .promo__services {
      gap: 6px;
      li::before {
         height: 8px;
         width: 8px;
      }
   }
}

@media (max-width: 1040px) {
   .promo__service {
      font-size: 16px;
   }
}

@media (max-width: 768px) {
   .promo__service {
      font-size: 14px;
   }
}

@media (max-width: 768px) {
   .promo__container {
      margin-top: 40px;
      flex-direction: row;
      margin-bottom: 40px;
   }
   .promo__image-container {
      img {
         height: 160px;
         width: 220px;
         object-fit: cover;
         object-position: center top;
      }
   }
}

@media (max-width: 600px) {
   .promo__container {
      margin-top: 40px;
      flex-direction: column;
   }
   .promo__image-container {
      margin: 20px 35px 40px;
      img {
         height: 160px;
         width: 220px;
         object-fit: cover;
         object-position: center top;
      }
   }
}

@media (max-width: 768px) {
   .promo__image {
      border-radius: 14px;
      &-container {
         position: relative;
      }
      &-front {
         transform: rotate(14deg);
      }
      &-bg {
         position: absolute;
         z-index: 1;
         top: 30px;
         left: -35px;
         transform: rotate(-8deg);
      }
   }
}
@media (max-width: 600px) {
   .promo__action {
      gap: 20px;
   }
}
@media (max-width: 600px) {
   .promo__discount {
      br {
         display: block;
      }
   }
}

@media (max-width: 600px) {
   .promo__mobile-img {
      display: block;
   }
   .promo__desktop-img {
      display: none;
   }
}
@media (max-width: 1040px) {
   .about__description {
      gap: 18px;
      margin-top: 0;
   }
}

@media (max-width: 1240px) {
   .about__description p {
      font-size: 16px;
   }
}

@media (max-width: 768px) {
   .about__wrapper {
      align-items: center;
      gap: 50px;
   }
   .about__description {
      width: 70%;
   }
   .about {
      &__image,
      &__image-bg {
         width: 195px;
         height: 204px;
         object-fit: cover;
         object-position: center top;
         border-radius: 14px;
      }
      &__image-bg {
         position: absolute;
         top: 25px;
         left: 25px;
         z-index: 1;
      }
   }
   .about__description p {
      font-size: 14px;
   }
}
@media (max-width: 600px) {
   .about__wrapper {
      flex-direction: column;
      align-items: center;
   }
   .about__description {
      width: 100%;
   }
}

@media (max-width: 1240px) {
   .portfolio__caption {
      width: 200px;
      height: 50px;
      color: $white;
      border-radius: 6px;
      transform: rotate(-4deg);
   }
}
@media (max-width: 1040px) {
   .portfolio__card {
      width: 48%;
      height: 300px;
      img {
         height: 300px;
         object-fit: cover;
         object-position: center top;
      }
   }
   .portfolio__caption {
      width: 240px;
      height: 50px;
      color: $white;
      border-radius: 6px;
      transform: rotate(-4deg);
   }
}
@media (max-width: 768px) {
   .portfolio__grid {
      justify-content: center;
   }
   .portfolio__caption {
      top: 92%;
      left: 10%;
      width: 200px;
      height: 50px;
   }
}
@media (max-width: 600px) {
   .portfolio__card {
      width: 80%;
      height: 240px;
      img {
         height: 240px;
         object-fit: cover;
         object-position: center top;
      }
   }
}

@media (max-width: 490px) {
   .portfolio__card {
      width: 100%;
   }
}
@media (max-width: 1240px) {
   .price__features {
      li {
         font-size: 15px;
      }
   }
   .price__card {
      width: 32%;
      padding: 40px 25px;
   }
}
@media (max-width: 1040px) {
   .price__features {
      li {
         font-size: 14px;
         margin-bottom: 6px;
      }
      li::before {
         content: " ";
         margin-bottom: 6px;
      }
   }

   .price__card {
      width: 46%;
      max-width: 350px;
      padding: 40px 25px;
   }

   .price__card:hover {
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
   }

   .price__item-title {
      font-size: 28px;
   }

   .price__cost {
      font-size: 32px;
   }
   .rub {
      font-size: 28px;
   }
}
@media (max-width: 768px) {
   .price {
      padding: 40px 0;
   }
   .price__features {
      li {
         font-size: 13px;
      }
   }

   .price__card {
      width: 100%;
      max-width: 350px;
      padding: 40px 25px;
   }

   .price__card:hover {
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
   }

   .price__item-title {
      font-size: 28px;
   }

   .price__cost {
      font-size: 32px;
   }
   .rub {
      font-size: 28px;
   }
   .price__grid {
      column-gap: 4%;
      row-gap: 30px;
   }
}
@media (max-width: 1240px) {
   .advantages__card {
      gap: 16px;
      p {
         font-size: 18px;
      }
      img {
         width: 50px;
      }
   }
}
@media (max-width: 1040px) {
   .advantages__grid {
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 20px;
   }
   .advantages__card:nth-child(2),
   .advantages__card:nth-child(5) {
      margin-top: 40px;
   }
   .advantages__card:nth-child(3),
   .advantages__card:nth-child(4) {
      margin-top: 0px;
   }
   .advantages__card {
      width: 30%;
      max-width: 30%;
   }
}
@media (max-width: 490px) {
   .advantages__grid {
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 24px;
   }
   .advantages__card:nth-child(2),
   .advantages__card:nth-child(5) {
      margin-top: 0px;
   }
   .advantages__card {
      width: 44%;
      max-width: 44%;
      gap: 10px;
      p {
         font-size: 14px;
      }
      img {
         width: 40px;
      }
   }
}
@media (max-width: 1240px) {
   .process {
      &__item {
         padding: 40px 20px;
         justify-content: flex-start;
         align-items: flex-start;
         h3 {
            font-size: 18px;
         }
      }
      &__step {
         width: 63px;
         height: 66px;
         object-fit: cover;
      }
   }
}
@media (max-width: 1040px) {
   .process {
      &__container {
         gap: 20px;
      }
      &__grid {
         flex-wrap: wrap;
         justify-content: center;
         gap: 20px;
      }
      &__item {
         padding: 30px 20px;
         width: 40%;
         h3 {
            font-size: 16px;
         }
      }
      &__step {
         width: 63px;
         height: 66px;
         object-fit: cover;
      }
   }
}
@media (max-width: 900px) {
   .process__item {
      width: 48%;
   }
}
@media (max-width: 560px) {
   .process__item {
      width: 360px;
   }
   .process__container {
      gap: 0px;
   }
}

@media (max-width: 390px) {
   .process__item {
      width: 100%;
   }
}
@media (max-width: 1040px) {
   .faq {
      &-container {
         gap: 20px;
      }
      &-question {
         font-size: 18px;
      }
      &-question::after {
         font-size: 36px;
         font-weight: 300;
      }
      &-item {
         padding: 20px 0;
      }
   }
}
@media (max-width: 490px) {
   .faq {
      &-container {
         gap: 14px;
      }
      &-question {
         font-size: 16px;
      }
      &-question::after {
         font-size: 30px;
      }
      &-item {
         padding: 16px 0;
      }
      .faq-question.active {
         padding-bottom: 12px;
         transition: 0.3s ease-in-out;
      }
   }
}
@media (max-width: 1240px) {
   .feedback {
      &__wrapper-img {
         width: 370px;
         height: 370px;
      }
      &__wrapper {
         padding: 60px 60px;
         align-items: center;
      }
      &__input {
         height: 50px;
      }
      &__consent {
         margin-bottom: 10px;
      }
      &__submit {
         height: 50px;
      }
   }
}
@media (max-width: 1040px) {
   .feedback {
      &__wrapper {
         padding: 40px 40px;
         border-radius: 26px;
         gap: 20px;
         &-img {
            max-width: 300px;
            max-height: 300px;
            border-radius: 20px;
         }
      }
      &__form {
         gap: 20px;
         max-width: 480px;
         &-text {
            font-size: 18px;
         }
      }
      &__input::placeholder {
         font-size: 14px;
      }
      &__checkbox {
         width: 26px !important;
         height: 18px !important;
      }
      &__submit {
         height: 60px;
      }

      &__consent {
         font-size: 12px;
      }
   }
}
@media (max-width: 768px) {
   .feedback {
      &__wrapper {
         display: flex;
         flex-direction: column-reverse;
         align-items: center;
         gap: 40px;
         &-img {
            max-width: 400px;
            max-height: 400px;
         }
      }
      &__form {
         max-width: 100%;
      }
   }
}
@media (max-width: 490px) {
   .feedback {
      &__wrapper {
         padding: 40px 20px;
         &-img {
            width: 100%;
            height: auto;
            object-fit: contain;
         }
      }
      &__input {
         padding-left: 20px;
      }
      &__form{
         gap: 14px;
      }
      &__submit{
         padding: 14px 20px;
      }
   }
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
