@media (max-width: 1440px) {
   .header-container,
   .promo__container {
      padding: 0 8vw;
   }
}

@media (max-width: 1240px) {
   .header-container,
   .promo__container {
      padding: 0 4vw;
   }
}

@media (max-width: 1070px) {
   .header__burger,
   .header__close {
      display: block;
   }
}

@media (max-width: 1070px) {
   .header__burger {
      order: 3;
   }
}

@media (max-width: 1240px) {
   .navigation__menu {
      max-width: 500px;
   }
}

@media (max-width: 1070px) {
   .navigation__menu {
      position: fixed;
      padding: 80px 50px 10px !important;
      gap: 22px;
      top: 0;
      left: 100vw;
      width: 50vw;
      height: 100vh;
      z-index: 2000;
      transition: left 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: $bege;
      .menu__item a {
         font-size: 22px;
         padding-left: 40px;
      }
   }
}

@media (max-width: 768px) {
   .navigation__menu {
      padding: 80px 50px 10px !important;
      gap: 22px;
      top: 0;
      left: 100vw;
      width: 100vw;
      .menu__item a {
         font-size: 20px;
         padding-left: 20px;
      }
   }
}

@media (max-width: 1070px) {
   .navigation__menu.show {
      transform: translateX(-50vw);
      transition: all 0.6s ease;
   }
}

@media (max-width: 768px) {
   .navigation__menu.show {
      transform: translateX(-100vw);
      transition: all 0.6s ease;
   }
}

@media (max-width: 1070px) {
   .header__contacts {
      order: 2;
   }
}

@media (max-width: 768px) {
   .header__contacts {
      flex-direction: column;
      gap: 10px;
   }
}

@media (max-width: 1040px) {
   .header__tel {
      font-size: 18px;
   }
}

@media (max-width: 1070px) {
   .header__logo {
      order: 1;
   }
}

@media (max-width: 1070px) {
   .menu__link {
      color: $white;
      :hover {
         color: $light-bege;
      }
   }
   .menu__link:hover {
      color: $light-bege;
   }
}
@media (max-width: 490px) {
   .header__contacts {
      display: none;
   }
}
@media (max-width: 1240px) {
   .header__social {
      gap: 10px;
   }
}

@media (max-width: 1440px) {
   .promo__utp {
      width: 506px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
}

@media (max-width: 1040px) {
   .promo__utp {
      width: 450px;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
}

@media (max-width: 768px) {
   .promo__utp {
      width: 400px;
      gap: 15px;
   }
}

@media (max-width: 600px) {
   .promo__utp {
      width: 100%;
      gap: 15px;
   }
}

@media (max-width: 1240px) {
   .promo__container {
      gap: 10%;
   }
}

@media (max-width: 768px) {
   .promo__services {
      gap: 6px;
      li::before {
         height: 8px;
         width: 8px;
      }
   }
}

@media (max-width: 1040px) {
   .promo__service {
      font-size: 16px;
   }
}

@media (max-width: 768px) {
   .promo__service {
      font-size: 14px;
   }
}

@media (max-width: 768px) {
   .promo__container {
      margin-top: 40px;
      flex-direction: row;
   }
   .promo__image-container {
      img {
         height: 160px;
         width: 220px;
         object-fit: cover;
         object-position: center top;
      }
   }
}

@media (max-width: 600px) {
   .promo__container {
      margin-top: 40px;
      flex-direction: column;
   }
   .promo__image-container {
      margin-top: 40px;
      img {
         height: 160px;
         width: 220px;
         object-fit: cover;
         object-position: center top;
      }
   }
}

@media (max-width: 768px) {
   .promo__image {
      border-radius: 14px;
      &-container {
         position: relative;
      }
      &-front {
         transform: rotate(14deg);
      }
      &-bg {
         position: absolute;
         z-index: 1;
         top: 35px;
         left: -40px;
         transform: rotate(-8deg);
      }
   }
}
@media (max-width: 600px) {
   .promo__action {
      gap: 20px;
   }
}
@media (max-width: 600px) {
   .promo__discount {
      br {
         display: block;
      }
   }
}

@media (max-width: 768px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
