@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
   background-color: $white;
   &-container {
      display: flex;
   }
   &__navigation {
      width: 100%;
      display: flex;
      padding: 10px 0;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
   }
   &__contacts {
      display: flex;
      gap: 20px;
      align-items: center;
   }
   &__social {
      display: flex;
      gap: 20px;
      align-items: center;
      &-link {
         background-color: $bege;
         border-radius: 100px;
         padding: 6px;
      }
      &-link:hover {
         background-color: $yellow;
         border-radius: 100px;
         padding: 6px;
         transition: background-color 0.3s ease-in-out;
      }
   }
   &__tel {
      font-weight: 700;
      color: $brown;
   }
   &__tel:hover {
      color: $yellow;
      transition: color 0.3s ease-in-out;
   }
   &__burger {
      position: relative;
      top: 10px;
      right: 0px;
      background-image: url("../images/icons/header/burger-menu.svg");
      cursor: pointer;
      background-repeat: no-repeat;
      height: 48px;
      width: 48px;
      display: none;
      border: none;
      background-color: transparent;
   }
   &__close {
      position: absolute;
      top: 20px;
      background-image: url("../images/icons/header/burger-close.svg");
      right: 20px;
      z-index: 2000;
      cursor: pointer;
      background-repeat: no-repeat;
      height: 28px;
      width: 28px;
      display: none;
      border: none;
      background-color: transparent;
   }
}

.navigation__menu {
   display: flex;
   max-width: 580px;
   width: 100%;
   justify-content: space-between;
}

.menu {
   &__link {
      font-size: 17px;
      font-weight: 500;
      color: $brown;
   }
   &__link:hover {
      color: $yellow;
      transition: color 0.3s ease-in-out;
   }
}

.promo {
   position: relative;
   background-color: $white;
   color: $brown;
   &__container {
      margin-top: 100px;
      margin-bottom: 80px;
      justify-content: flex-start;
      gap: 22%;
   }
   &__utp {
      width: 40%;
      max-width: 506px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
   &__image {
      border-radius: 20px;
      &-container {
         position: relative;
      }
      &-front {
         position: relative;
         z-index: 2;
         transform: rotate(14deg);
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      }
      &-bg {
         position: absolute;
         z-index: 1;
         top: 55px;
         left: -90px;
         transform: rotate(-8deg);
      }
   }
   &__discount {
      br {
         display: none;
      }
   }
   &__services {
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
         display: flex;
         align-items: flex-start;
         margin-left: 4px;
         font-weight: 500;
      }
      li::before {
         content: " ";
         display: inline-block;
         background-color: $bege;
         margin-right: 8px;
         margin-top: 7px;
         height: 10px;
         width: 10px;
         border-radius: 100px;
      }
   }
   &__action {
      display: flex;
      gap: 34px;
      align-items: center;
   }
}

.link-btn {
   background-color: $brown;
   color: $white;
   padding: 14px 40px;
   border-radius: 100px;
   cursor: pointer;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.link-btn:hover {
   background-color: $yellow;
   transition: background-color 0.3s ease-in-out;
}

.promo__mobile-img {
   display: none;
}

.about {
   &__container {
      flex-direction: column;
   }
   &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 80px;
   }
   &__description {
      margin-top: 25px;
      width: 60%;
      max-width: 720px;
      display: flex;
      flex-direction: column;
      gap: 28px;
      p {
         font-size: 18px;
         line-height: 160%;
      }
   }
   &__image-container {
      position: relative;
   }
   &__image,
   &__image-bg {
      width: 305px;
      height: 320px;
      object-fit: cover;
      object-position: center top;
      border-radius: 20px;
   }
   &__image {
      position: relative;
      z-index: 2;
   }
   &__image-bg {
      position: absolute;
      top: 25px;
      left: 25px;
      z-index: 1;
   }
}

.portfolio {
   &__container {
      flex-direction: column;
   }
   &__grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 2%;
      row-gap: 70px;
   }
   &__card {
      position: relative;
      width: 32%;
   }
   &__caption {
      position: absolute;
      top: 92%;
      left: 35px;
      transform: rotate(-5deg);
      width: 240px;
      height: 60px;
      color: $white;
      border-radius: 10px;
      background-color: $bege;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease-in-out;
   }
   &__image {
      width: 100%;
      transition: transform 0.3s ease-in-out;
   }
   &__card:hover {
      .portfolio__image {
         transform: scale(1.02);
         transition: transform 0.3s ease-in-out;
      }
      .portfolio__caption {
         transform: rotate(0deg);
         transition: transform 0.3s ease-in-out;
      }
   }
}

@import "mobile";
