@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
   background-color: $white;
   &-container {
      display: flex;
   }
   &__navigation {
      width: 100%;
      display: flex;
      padding: 10px 0;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
   }
   &__contacts {
      display: flex;
      gap: 20px;
      align-items: center;
   }
   &__social {
      display: flex;
      gap: 20px;
      align-items: center;
      &-link {
         background-color: $bege;
         border-radius: 100px;
         padding: 6px;
      }
      &-link:hover {
         background-color: $yellow;
         border-radius: 100px;
         padding: 6px;
         transition: background-color 0.3s ease-in-out;
      }
   }
   &__tel {
      font-weight: 700;
      color: $brown;
   }
   &__tel:hover {
      color: $yellow;
      transition: color 0.3s ease-in-out;
   }
   &__burger {
      position: relative;
      top: 10px;
      right: 0px;
      background-image: url("../images/icons/header/burger-menu.svg");
      cursor: pointer;
      background-repeat: no-repeat;
      height: 48px;
      width: 48px;
      display: none;
      border: none;
      background-color: transparent;
   }
   &__close {
      position: absolute;
      top: 20px;
      background-image: url("../images/icons/header/burger-close.svg");
      right: 20px;
      z-index: 2000;
      cursor: pointer;
      background-repeat: no-repeat;
      height: 28px;
      width: 28px;
      display: none;
      border: none;
      background-color: transparent;
   }
}

.navigation__menu {
   display: flex;
   max-width: 580px;
   width: 100%;
   justify-content: space-between;
}

.menu {
   &__link {
      font-size: 17px;
      font-weight: 500;
      color: $brown;
   }
   &__link:hover {
      color: $yellow;
      transition: color 0.3s ease-in-out;
   }
}

.promo {
   position: relative;
   background-color: $white;
   color: $brown;
   &__container {
      margin-top: 100px;
      margin-bottom: 80px;
      justify-content: flex-start;
      gap: 22%;
   }
   &__utp {
      width: 40%;
      max-width: 506px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
   &__image {
      border-radius: 20px;
      &-container {
         position: relative;
      }
      &-front {
         position: relative;
         z-index: 2;
         transform: rotate(14deg);
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      }
      &-bg {
         position: absolute;
         z-index: 1;
         top: 55px;
         left: -90px;
         transform: rotate(-8deg);
      }
   }
   &__discount {
      br {
         display: none;
      }
   }
   &__services {
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
         display: flex;
         align-items: flex-start;
         margin-left: 4px;
         font-weight: 500;
      }
      li::before {
         content: " ";
         display: inline-block;
         background-color: $bege;
         margin-right: 8px;
         margin-top: 7px;
         height: 10px;
         width: 10px;
         border-radius: 100px;
      }
   }
   &__action {
      display: flex;
      gap: 34px;
      align-items: center;
   }
}

.link-btn {
   background-color: $brown;
   color: $white;
   padding: 16px 50px;
   border-radius: 100px;
   cursor: pointer;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.link-btn:hover {
   background-color: $yellow;
   transition: background-color 0.3s ease-in-out;
}

.promo__mobile-img {
   display: none;
}

.about {
   &__container {
      flex-direction: column;
   }
   &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 80px;
   }
   &__description {
      margin-top: 25px;
      width: 60%;
      max-width: 720px;
      display: flex;
      flex-direction: column;
      gap: 28px;
      p {
         font-size: 18px;
         line-height: 160%;
      }
   }
   &__image-container {
      position: relative;
   }
   &__image,
   &__image-bg {
      width: 305px;
      height: 320px;
      object-fit: cover;
      object-position: center top;
      border-radius: 20px;
   }
   &__image {
      position: relative;
      z-index: 2;
   }
   &__image-bg {
      position: absolute;
      top: 25px;
      left: 25px;
      z-index: 1;
   }
}

.portfolio {
   &__container {
      flex-direction: column;
   }
   &__grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 2%;
      row-gap: 70px;
   }
   &__card {
      position: relative;
      width: 32%;
   }
   &__caption {
      position: absolute;
      top: 92%;
      left: 35px;
      transform: rotate(-5deg);
      width: 240px;
      height: 60px;
      color: $white;
      border-radius: 10px;
      background-color: $bege;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease-in-out;
   }
   &__image {
      width: 100%;
      transition: transform 0.3s ease-in-out;
   }
   &__card:hover {
      .portfolio__image {
         transform: scale(1.02);
         transition: transform 0.3s ease-in-out;
      }
      .portfolio__caption {
         transform: rotate(0deg);
         transition: transform 0.3s ease-in-out;
      }
   }
}

.price {
   background-color: $white;
   padding: 100px 0;
   &__container {
      flex-direction: column;
   }
   &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 2%;
      row-gap: 100px;
   }
   &__features {
      display: flex;
      flex-direction: column;
      li {
         font-size: 16px;
         text-align: left;
         margin-bottom: 8px;
      }
      li::before {
         content: " ";
         display: block;
         margin-bottom: 8px;
         height: 1px;
         width: 100%;
         background-color: #bf907569;
      }
   }
   &__card {
      width: 32%;
      padding: 50px 45px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 20px;
      box-shadow: 0px 2px 6px rgba(115, 66, 48, 0.1);
      transition: transform 0.1s ease-in-out;
   }
   &__card:hover {
      transform: scale(1.02);
      transition: transform 0.1s ease-in-out;
   }
   &__cost {
      font-size: 40px;
      font-family: "Forum", serif;
      line-height: 120%;
      font-weight: 500;
      margin-top: 20px;
   }
   &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &-title {
         font-family: "Forum", serif;
         font-size: 32px;
         line-height: 120%;
         font-weight: 500;
         text-transform: uppercase;
      }
      &-premium {
         background-color: $light-bege;
      }
   }
   &__button {
      padding: 20px 60px;
   }
}

.rub {
   line-height: 5px;
   width: 0.4em;
   border-bottom: 1px solid $dark-brown;
   display: inline-block;
   font-size: 34px;
   font-weight: 500;
}

.advantages {
   &__container {
      flex-direction: column;
   }
   &__grid {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__card {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      max-width: 210px;
      gap: 30px;
      p {
         font-size: 20px;
         text-align: center;
         font-weight: 500;
      }
   }
   &__card:nth-child(2),
   &__card:nth-child(5) {
      margin-top: 40px;
   }
   &__card:nth-child(3),
   &__card:nth-child(4) {
      margin-top: 80px;
   }
}

.process {
   &__container {
      flex-direction: column;
      gap: 40px;
   }
   &__grid {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   &__item {
      display: flex;
      background-color: $white;
      flex-direction: column;
      box-shadow: 0px 0px 4px 2px rgba(115, 66, 48, 0.08);
      position: relative;
      width: 23%;
      gap: 20px;
      border-radius: 20px;
      padding: 60px 30px;
      justify-content: flex-start;
      align-items: flex-start;
      h3 {
         font-size: 20px;
         font-weight: 500;
         z-index: 2;
      }
      p {
         z-index: 2;
      }
   }
   &__step {
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Forum", serif;
      font-size: 40px;
      color: #ffffff;
      right: 10px;
      top: 10px;
      background-image: url("../images/icons/process-number.svg");
      width: 80px;
      height: 84px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
   }
}

.faq {
   &-container {
      flex-direction: column;
      width: 100%;
      gap: 40px;
   }
   &__grid {
      width: 100%;
   }
   &-question {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      transition: 0.3s ease-in-out;
   }
   &-question::after {
      content: "+";
      display: inline-block;
      color: $dark-brown;
      font-size: 50px;
      font-weight: 200;
      transition: 0.3s ease-in-out;
   }
   .faq-question.active {
      padding-bottom: 20px;
      transition: 0.3s ease-in-out;
   }
   .faq-question.active::after {
      transform: rotate(-45deg);
      color: $bege;
      transition: 0.3s ease-in-out;
   }
   &-item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 33px 0;
      border-top: 1px solid #bf907557;
      &__last{
         padding: 0;
      }
   }
   &-item:hover {
      .faq-question::after {
         color: $bege;
         transition: color 0.3s ease-in-out;
      }
   }
   &-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
   }
}

.feedback {
   &__container {
      flex-direction: column;
      width: 100%;
   }
   &__wrapper {
      display: flex;
      justify-content: space-around;
      background-color: $light-bege;
      width: 100%;
      padding: 60px 100px;
      border-radius: 40px;
      gap: 40px;
      &-img {
         max-width: 400px;
         max-height: 400px;
         border-radius: 26px;
      }
   }
   &__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 480px;
      align-items: flex-start;
      &-text {
         font-size: 20px;
      }
   }
   &__input {
      width: 100%;
      padding-left: 35px;
      height: 60px;
      border: 1px solid $bege;
      border-radius: 100px;
      background-color: $light-bege;
      &-group {
         width: 100%;
      }
   }
   &__input::placeholder {
      color: $bege;
      font-size: 16px;
   }
   &__consent {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $brown;
      a {
         color: $dark-brown;
         transition: color 0.3s ease-in-out;
      }
      a:hover {
         color: $white;
      }
   }
   &__checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      width: 26px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
      border: 2px solid $brown;
      position: relative;
   }
   &__checkbox:checked:after {
      content: "";
      position: absolute;
      left: 2px;
      bottom: 3px;
      width: 12px;
      height: 12px;
      border: solid $bege;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
   }
   &__submit {
      text-transform: uppercase;
      width: 100%;
      height: 60px;
      background-color: $brown;
      color: $white;
      border: none;
      cursor: pointer;
   }

   &__submit:hover {
   }
}

.footer{
   background-color: $dark-brown;
   color: $white;
   padding: 50px 0;
   &__container{
      justify-content: space-between;
   }
   &__branding,
   &__navigation,
   &__contact{
      display: flex;
      flex-direction: column;
      gap: 10px;
      a,
      p{
         color: $white;
         font-weight: 200;
         transition: color 0.3s ease-in-out;
      }
      a:hover{
         color: $yellow;
         transition: color 0.3s ease-in-out;
      }
   }
}
@import "mobile";
