@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
   background-color: $white;
   &-container {
      display: flex;
   }
   &__navigation {
      width: 100%;
      display: flex;
      padding: 10px 0;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
   }
   &__contacts {
      display: flex;
      gap: 20px;
      align-items: center;
   }
   &__social {
      display: flex;
      gap: 20px;
      align-items: center;
      &-link {
         background-color: $bege;
         border-radius: 100px;
         padding: 6px;
      }
      &-link:hover {
         background-color: $yellow;
         border-radius: 100px;
         padding: 6px;
         transition: background-color 0.3s ease-in-out;
      }
   }
   &__tel {
      font-weight: 700;
      color: $brown;
   }
   &__tel:hover {
      color: $yellow;
      transition: color 0.3s ease-in-out;
   }
   &__burger {
      position: relative;
      top: 10px;
      right: 0px;
      background-image: url("../images/icons/header/burger-menu.svg");
      cursor: pointer;
      background-repeat: no-repeat;
      height: 48px;
      width: 48px;
      display: none;
      border: none;
      background-color: transparent;
   }
   &__close {
      position: absolute;
      top: 20px;
      background-image: url("../images/icons/header/burger-close.svg");
      right: 20px;
      z-index: 2000;
      cursor: pointer;
      background-repeat: no-repeat;
      height: 28px;
      width: 28px;
      display: none;
      border: none;
      background-color: transparent;
   }
}

.navigation__menu {
   display: flex;
   max-width: 580px;
   width: 100%;
   justify-content: space-between;
}

.menu {
   &__link {
      font-size: 17px;
      font-weight: 500;
      color: $brown;
   }
   &__link:hover {
      color: $yellow;
      transition: color 0.3s ease-in-out;
   }
}

.promo {
   position: relative;
   background-color: $white;
   color: $brown;
   &__container {
      margin-top: 100px;
      margin-bottom: 80px;
      justify-content: flex-start;
      gap: 22%;
   }
   &__utp {
      width: 40%;
      max-width: 506px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
   &__image {
      border-radius: 20px;
      &-container {
         position: relative;
      }
      &-front {
         position: relative;
         z-index: 2;
         transform: rotate(14deg);
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      }
      &-bg {
         position: absolute;
         z-index: 1;
         top: 55px;
         left: -90px;
         transform: rotate(-8deg);
      }
   }
   &__discount {
      br {
         display: none;
      }
   }
   &__services {
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
         display: flex;
         align-items: flex-start;
         margin-left: 4px;
         font-weight: 500;
      }
      li::before {
         content: " ";
         display: inline-block;
         background-color: $bege;
         margin-right: 8px;
         margin-top: 7px;
         height: 10px;
         width: 10px;
         border-radius: 100px;
      }
   }
   &__action {
      display: flex;
      gap: 34px;
      align-items: center;
   }
}

.link-btn {
   background-color: $brown;
   color: $white;
   padding: 16px 50px;
   border-radius: 100px;
   cursor: pointer;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease-in-out;
}

.link-btn:hover {
   background-color: $yellow;
   transition: background-color 0.3s ease-in-out;
}

.promo__mobile-img {
   display: none;
}

.about {
   &__container {
      flex-direction: column;
   }
   &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 80px;
   }
   &__description {
      margin-top: 25px;
      width: 60%;
      max-width: 720px;
      display: flex;
      flex-direction: column;
      gap: 28px;
      p {
         font-size: 18px;
         line-height: 160%;
      }
   }
   &__image-container {
      position: relative;
   }
   &__image,
   &__image-bg {
      width: 305px;
      height: 320px;
      object-fit: cover;
      object-position: center top;
      border-radius: 20px;
   }
   &__image {
      position: relative;
      z-index: 2;
   }
   &__image-bg {
      position: absolute;
      top: 25px;
      left: 25px;
      z-index: 1;
   }
}

.portfolio {
   &__container {
      flex-direction: column;
   }
   &__grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 2%;
      row-gap: 70px;
   }
   &__card {
      position: relative;
      width: 32%;
   }
   &__caption {
      position: absolute;
      top: 92%;
      left: 35px;
      transform: rotate(-5deg);
      width: 240px;
      height: 60px;
      color: $white;
      border-radius: 10px;
      background-color: $bege;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease-in-out;
   }
   &__image {
      width: 100%;
      transition: transform 0.3s ease-in-out;
   }
   &__card:hover {
      .portfolio__image {
         transform: scale(1.02);
         transition: transform 0.3s ease-in-out;
      }
      .portfolio__caption {
         transform: rotate(0deg);
         transition: transform 0.3s ease-in-out;
      }
   }
}

.price {
   background-color: $white;
   padding: 100px 0;
   &__container {
      flex-direction: column;
   }
   &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 2%;
      row-gap: 100px;
   }
   &__features {
      display: flex;
      flex-direction: column;
      li {
         font-size: 16px;
         text-align: left;
         margin-bottom: 8px;
      }
      li::before {
         content: " ";
         display: block;
         margin-bottom: 8px;
         height: 1px;
         width: 100%;
         background-color: #bf907569;
      }
   }
   &__card {
      width: 32%;
      padding: 50px 45px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 20px;
      box-shadow: 0px 2px 6px rgba(115, 66, 48, 0.1);
      transition: transform 0.1s ease-in-out;
   }
   &__card:hover {
      transform: scale(1.02);
      transition: transform 0.1s ease-in-out;
   }
   &__cost {
      font-size: 40px;
      font-family: "Forum", serif;
      line-height: 120%;
      font-weight: 500;
      margin-top: 20px;
   }
   &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &-title {
         font-family: "Forum", serif;
         font-size: 32px;
         line-height: 120%;
         font-weight: 500;
         text-transform: uppercase;
      }
      &-premium {
         background-color: $light-bege;
      }
   }
   &__button {
      padding: 20px 60px;
   }
}

.rub {
   line-height: 5px;
   width: 0.4em;
   border-bottom: 1px solid $dark-brown;
   display: inline-block;
   font-size: 34px;
   font-weight: 500;
}

.advantages {
   &__container {
      flex-direction: column;
   }
   &__grid {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__card {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      max-width: 210px;
      gap: 30px;
      p {
         font-size: 20px;
         text-align: center;
         font-weight: 500;
      }
   }
   &__card:nth-child(2),
   &__card:nth-child(5) {
      margin-top: 40px;
   }
   &__card:nth-child(3),
   &__card:nth-child(4) {
      margin-top: 80px;
   }
}

.process {
   &__container {
      flex-direction: column;
      gap: 40px;
   }
   &__grid {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   &__item {
      display: flex;
      background-color: $white;
      flex-direction: column;
      box-shadow: 0px 0px 4px 2px rgba(115, 66, 48, 0.08);
      position: relative;
      width: 23%;
      gap: 20px;
      border-radius: 20px;
      padding: 60px 30px;
      justify-content: flex-start;
      align-items: flex-start;
      h3 {
         font-size: 20px;
         font-weight: 500;
         z-index: 2;
      }
      p {
         z-index: 2;
      }
   }
   &__step {
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Forum", serif;
      font-size: 40px;
      color: #ffffff;
      right: 10px;
      top: 10px;
      background-image: url("../images/icons/process-number.svg");
      width: 80px;
      height: 84px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
   }
}

.faq {
   &-container {
      flex-direction: column;
      width: 100%;
      gap: 40px;
   }
   &__grid {
      width: 100%;
   }
   &-question {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      transition: 0.3s ease-in-out;
   }
   &-question::after {
      content: "+";
      display: inline-block;
      color: $dark-brown;
      font-size: 50px;
      font-weight: 200;
      transition: 0.3s ease-in-out;
   }
   .faq-question.active {
      padding-bottom: 20px;
      transition: 0.3s ease-in-out;
   }
   .faq-question.active::after {
      transform: rotate(-45deg);
      color: $bege;
      transition: 0.3s ease-in-out;
   }
   &-item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 33px 0;
      border-top: 1px solid #bf907557;
      &__last {
         padding: 0;
      }
   }
   &-item:hover {
      .faq-question::after {
         color: $bege;
         transition: color 0.3s ease-in-out;
      }
   }
   &-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
   }
}

.feedback {
   &__container {
      flex-direction: column;
      width: 100%;
   }
   &__wrapper {
      display: flex;
      justify-content: space-around;
      background-color: $light-bege;
      width: 100%;
      padding: 60px 100px;
      border-radius: 40px;
      gap: 40px;
      &-img {
         max-width: 400px;
         max-height: 400px;
         border-radius: 26px;
      }
   }
   &__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 480px;
      align-items: flex-start;
      &-text {
         font-size: 20px;
      }
   }
   &__input {
      width: 100%;
      padding-left: 35px;
      height: 60px;
      border: 1px solid $bege;
      border-radius: 100px;
      background-color: $light-bege;
      &-group {
         width: 100%;
      }
   }
   &__input::placeholder {
      color: $bege;
      font-size: 16px;
   }
   &__consent {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $brown;
      a {
         color: $dark-brown;
         transition: color 0.3s ease-in-out;
      }
      a:hover {
         color: $white;
      }
   }
   &__checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      width: 26px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
      border: 2px solid $brown;
      position: relative;
   }
   &__checkbox:checked:after {
      content: "";
      position: absolute;
      left: 2px;
      bottom: 3px;
      width: 12px;
      height: 12px;
      border: solid $bege;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
   }
   &__submit {
      text-transform: uppercase;
      width: 100%;
      height: 60px;
      background-color: $brown;
      color: $white;
      border: none;
      cursor: pointer;
   }

   &__submit:hover {
   }
}

.footer {
   background-color: $dark-brown;
   color: $white;
   padding: 50px 0;
   &__container {
      justify-content: space-between;
   }
   &__branding,
   &__navigation,
   &__contact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a,
      p {
         color: $white;
         font-weight: 200;
         transition: color 0.3s ease-in-out;
      }
      a:hover {
         color: $yellow;
         transition: color 0.3s ease-in-out;
      }
   }
}

.quiz {
   &__container {
      flex-direction: column;
   }
   &__gifts {
      padding: 40px;
      display: flex;
      width: 90%;
      justify-content: space-between;
      &-text {
         width: auto;
         max-width: 150px;
         font-weight: 500;
      }
      &-item {
         display: flex;
         gap: 22px;
      }
   }
   &__form {
      width: 90%;
      background-color: $white;
      border-top: 4px solid $bege;
      padding: 50px;
      p {
         font-size: 26px;
         line-height: 130%;
      }
   }
   &__step {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }
   &__radio {
      display: flex;
      flex-direction: column;
      gap: 14px;
   }
   &__next,
   &__back {
      border: none;
   }
   &__back {
      background-color: $light-bege;
   }
   &-btn {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
   }
   &__final-massage {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
         font-size: 32px;
         font-family: "Forum", serif;
         font-weight: 400;
         line-height: 140%;
         color: $dark-brown;
         text-align: center;
      }
   }
}

.quiz__form {
   .quiz__radio .custom-radio {
      position: relative;
      padding-left: 35px;
      display: block;
      cursor: pointer;
      margin-bottom: 14px; /* Добавляем пространство между радио-кнопками */
      font-size: 20px;
   }

   .quiz__radio input[type="radio"] {
      opacity: 0;
      position: absolute;
      cursor: pointer;
   }

   .radio-btn {
      position: absolute;
      top: 3px;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 2px solid #b89476;
      border-radius: 50%;
   }

   /* Стиль для :after (отображение выбранного состояния) */
   .quiz__radio input[type="radio"]:checked + .radio-btn::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #b89476;
   }

   /* Используем ::after для создания внутреннего кружка */
   .radio-btn::after {
      content: "";
      position: absolute;
      display: none; /* По умолчанию скрыт, показывается только когда input:checked */
   }

   .quiz__radio input[type="radio"]:checked + .radio-btn::after {
      display: block; /* Показываем внутренний кружок когда input:checked */
   }

   /* Добавьте этот CSS к вашему существующему файлу стилей */
   .custom-date {
      background-color: #fff; /* Цвет фона */
      border: 2px solid #b89476; /* Цвет границы, как на вашем изображении */
      border-radius: 5px; /* Скругление углов */
      padding: 10px; /* Внутренний отступ */
      font-size: 16px; /* Размер шрифта */
      color: #000; /* Цвет текста */
   }

   /* Стили для изменения иконки календаря */
   .custom-date::-webkit-calendar-picker-indicator {
      filter: invert(0.5); /* Инвертировать цвет иконки, если необходимо */
      cursor: pointer;
   }

   /* Добавьте этот CSS к вашему существующему файлу стилей */
   .custom-textarea {
      width: 100%; /* Задаем ширину на всю доступную ширину контейнера */
      height: 150px; /* Высота поля */
      padding: 10px; /* Внутренний отступ */
      font-size: 16px; /* Размер шрифта */
      border: 2px solid #b89476; /* Цвет границы, как на вашем изображении */
      border-radius: 5px; /* Скругление углов */
      background-color: #fff; /* Цвет фона */
      color: #000; /* Цвет текста */
      resize: vertical; /* Позволяет пользователю изменять размер поля по вертикали */
   }

   /* Стили для плейсхолдера */
   .custom-textarea::placeholder {
      color: #b89476; /* Цвет текста плейсхолдера */
   }

   /* При фокусировке на поле */
   .custom-textarea:focus {
      outline: none; /* Убираем стандартный outline */
      border-color: #a78265; /* Меняем цвет границы при фокусировке */
   }

   /* Убедитесь, что стили для кнопок .quiz__back и .quiz__next уже определены в вашем CSS */

   /* Добавьте этот CSS к вашему существующему файлу стилей */
   .custom-input {
      display: block;
      width: 100%; /* Ширина поля на всю доступную ширину контейнера */
      padding: 20px; /* Внутренний отступ */
      margin-bottom: 20px; /* Отступ снизу */
      font-size: 16px; /* Размер шрифта */
      border: 1px solid #b89476; /* Цвет границы */
      border-radius: 100px; /* Скругление углов */
      background-color: #fff; /* Цвет фона */
      color: #000; /* Цвет текста */
   }

   .custom-input:focus {
      outline: none; /* Убираем стандартный outline при фокусе */
      border-color: #a78265; /* Меняем цвет границы при фокусе */
   }

   .custom-input::placeholder {
      color: #b89476; /* Цвет текста плейсхолдера */
   }

   .custom-checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 20px; /* Отступ снизу */
   }

   .custom-checkbox input[type="checkbox"] {
      margin-right: 10px; /* Отступ между чекбоксом и текстом */
   }

   .checkbox-text {
      font-size: 14px; /* Размер шрифта текста рядом с чекбоксом */
   }

   /* Скрытие стандартного чекбокса */
   .custom-checkbox {
      opacity: 0;
      position: absolute;
   }

   /* Стилизация текста рядом с чекбоксом */
   .custom-checkbox-label {
      position: relative;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px; /* Можно адаптировать под ваш дизайн */
   }

   /* Создание кастомной графики для чекбокса */
   .checkbox-custom {
      display: inline-block;
      width: 20px; /* Размер чекбокса */
      height: 20px;
      margin-right: 10px; /* Отступ от текста */
      background-color: #fff; /* Цвет фона */
      border: 1px solid #b89476; /* Цвет границы */
      border-radius: 4px; /* Скругление углов */
      vertical-align: middle;
      position: relative;
   }

   /* Стиль для символа галочки */
   .custom-checkbox:checked + .checkbox-custom::after {
      content: "";
      position: absolute;
      left: 5px; /* Позиционирование галочки */
      top: 1px;
      width: 7px;
      height: 13px;
      border: solid #b89476;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
   }
}

.quiz__step {
   display: none; /* скрываем все шаги */
}

.quiz__step--active {
   display: flex; /* показываем только активный шаг */
}

/* Стили для модального окна */
.modal {
   display: none; /* Скрыто по умолчанию */
   position: fixed; /* Фиксированное позиционирование */
   z-index: 1000; /* Выше всех элементов на странице */
   left: 0;
   top: 0;
   width: 100vw; /* Полная ширина экрана */
   height: 100vh; /* Полная высота экрана */
   overflow: auto; /* Прокрутка, если содержимое выходит за пределы экрана */
   background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
   position: relative;
   background-color: #fefefe;
   margin: 0 auto; /* Отцентровать содержимое */
   padding: 10px;
   border: 1px solid #888;
   width: 90vw;
   height: 100vh;
}

.close {
   position: relative;
   color: $bege;
   float: right;
   right: 30px;
   top: 10px;
   font-size: 36px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: $brown;
   text-decoration: none;
   cursor: pointer;
}

.modal-gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.gallery-slide {
   display: flex;
   justify-content: center;
   width: auto;
   height: 98%;
}

.gallery-slide img {
   max-width: 100%;   /* Максимальная ширина относительно родительского блока */
   max-height: 90vh;  /* Максимальная высота относительно высоты экрана */
   height: auto;      /* Высота изменяется автоматически для сохранения пропорций */
   object-fit: contain; /* Гарантирует, что содержимое не выйдет за рамки и сохранит пропорции */
 }
 

.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: $bege;
   font-weight: bold;
   font-size: 20px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/* Расположение стрелки "назад" */
.prev {
   left: 20px;
   border-radius: 3px 0 0 3px;
}

/* Расположение стрелки "вперед" */
.next {
   right: 20px;
   border-radius: 0 3px 3px 0;
}

/* Появление стрелок при наведении */
.prev:hover,
.next:hover {
   background-color: $light-bege;
}

@import "mobile";
